<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Change password</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/changepassword" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Current Password</label>
              <input type="password" class="form-control" name="currentPassword">
            </div>
             <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" class="form-control" name="newPassword">
            </div>
            <div class="form-group">
              <label for="password">Verify Password</label>
              <input type="password" class="form-control" name="verifyPassword">
            </div>
            <button type="submit" class="btn btn-dark">Confirm</button>
          </form>

        </div>
      </div>
    </div>

    

<%- include('partials/footer') %>
