<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-calendar-alt fa-6x"></i>
    <h1 class="display-3">Events</h1>
    <p class="secret-text">Manage your events effectively </p>

    <form action="/createevent" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="event" placeholder="What's your event">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
