<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container homepage">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <i class="fas fa-calendar-alt fa-6x"></i>
    <h1 class="display-3 heading">Event Management</h1>
    <p class="lead">One place to manage your events.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>